<h1 style="@ElementStyle">-Child Component Text. Employee Age = @EmpAge</h1>

@code {
    [CascadingParameter]
    public string ElementStyle { get; set; }

    [CascadingParameter]
    public int EmpAge { get; set; }
}